.system-header {
  text-align: center;
  margin-bottom: 20px;
}

.system-header h2 {
  letter-spacing: 2px;
  font-size: 18px;
  color: #e5d9ff;
}

.system-header p {
  font-size: 13px;
  opacity: 0.7;
  margin-top: 4px;
}
